@charset "UTF-8";

body{
    text-align: center;
    color: #4a8f8f;
    background-image: url(/img/img-no-rep.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 50px;
    background-attachment: fixed;/*Essa background-attachmentpropriedade especifica se a imagem de fundo deve rolar ou ser fixa (não rolará com o restante da página)*/
}
ul{
    text-align: left;
    display: inline-block;
}
mark{
    color: #ff0202;
    background-color: #000000;
}

