@charset "UTF-8";

body{
    text-align: justify;
    color: #ffffff;
    background-image: url(/w3schools/img/Fundo\ abstrato\ tecnológico\ em\ azul.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: 50px;
}

hr{
    border:1px solid #00ff15;
}