@charset "UTF-8";

body{
    text-align: justify;
    color: #ffffff;
    background-image: url(/w3schools/img/img-no-rep.png);
    background-position: right top;
    background-position: center;
    background-attachment: fixed;
    margin-right: 50px;
    background-repeat: no-repeat;
}