@charset "UTF-8";

body{
    text-align: justify;
    color: #ffffff;
    background-image: url(/w3schools/img/Fundo\ abstrato\ tecnológico\ em\ azul.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    margin-right: 50px;
}
table, th, td{
    border: 1px solid #ff0000;
    background-image: url(/w3schools/img/img-no-rep.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}