@charset "UTF-8";

body{
    text-align: left;
    background-image: url(/w3schools/img/ChatGPT\ .png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: 50px;
}

p{
    color: #346800;
}
#para0{
    text-align: right;
    color: #ff0000;
}
.para1{
    text-align: center;
    color: #0000ff;
}