@charset "UTF-8";

body{
    text-align: justify;
    color: #000000;
    background-image: url(/w3schools/img/ChatGPT\ .png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    margin-right: 50px;
}
/* Tempo aqui kkk*/