@charset "UTF-8";

.cinza{
background-color: #808080;
color: crimson;
border:  0.1em solid #0000ff;
margin: 0.5em ;
padding:0.5em ;
width: 4.7em;
}
.verde{
background-color: #008000;
color: crimson;
border:  0.1em solid #0000ff;
margin:  0.5em;
padding: 0.5em;
width: 7em;
}
.azul{
background-color: #0000ff;
color: crimson;
border:  0.1em solid #0000ff;
margin:  0.5em;
padding: 0.5em;
width: 7em;
}
.cinza1{
background-color: #d3d3d3;
color: crimson;
border:  0.1em solid #0000ff;
margin: 0.5em ;
padding:0.5em ;
width: 7em;
}
.laranj {
background-color: #ffa500;
color: crimson;
border:  0.1em solid #0000ff;
margin:  0.5em;
padding: 0.5em;
width: 7em;
}

