@charset "UTF-8";

.top{
    color: #ff0000;
    background-color: #000000;
}
.fundoCor{
    text-align: center;
    background-color: #7fffd4; /*A cor de fundo de uma página é definida assim*/
}
.imgFund{
    text-align: center;
    color: #f0ffff;
    background-image: url(/img/Fundo\ abstrato\ tecnológico\ em\ azul.png); /*Ao usar uma imagem de fundo, utilize uma imagem que não interfira com o texto.*/
}
.imgRept{
    text-align: center;
    color: #f0ffff;
    background-image: url(/img/img-no-rep.png);
    /*background-repeat: repeat-x;  Se a imagem acima for repetida apenas horizontalmente ( background-repeat: repeat-x;), o fundo ficará melhor*/
    background-repeat:no-repeat ;
    background-position: right top; /*Essa background-positionpropriedade é usada para definir a posição inicial da imagem de fundo.*/
    margin-right: 200px;
}
.anexFun{
    text-align: center;
    color: #f0ffff;
    background-image: url(/img/img-rept.png);
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 50px;
    background-attachment: fixed; /*Essa background-attachmentpropriedade especifica se a imagem de fundo deve rolar ou ser fixa (não rolará com o restante da página)*/
}
.backAbre{
    text-align: center;
    color: #f0ffff;
    background: url(/img/img-rept.png) no-repeat fixed; /*Use a propriedade abreviada para definir todas as propriedades de fundo em uma única declaração*/
}
ul{
    text-align: left;
    display: inline-block;
}