@charset "UTF-8";

body{
    color: #ffffff;
    text-align: justify;
    background-image: url(/w3schools/img/img-no-rep.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    margin-right: 50px;
}

ul{
    display: inline-block;
}

mark{
    color: #ff0000;
    background-color: #000000;
}

.dotted{
    border: dotted  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.dashed{
    border: dashed  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.solid{
    border: solid  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.double{
    border: double  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.groove{
    border: groove  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.ridge{
    border: ridge  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.inset{
    border: inset  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.outset{
    border: outset  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.none{
    border: none  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.hidden{
    border: hidden  ;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.individuais{
    border-style: dashed dotted groove double;
    border-color: #ff0000 #03f70f #ff9100 #02ff9e;
    border-width: 5px 5px 5px 5px;
    border-radius: 15px;
}
.abreviada{
    border: 5px dotted  #008000;
    border-radius: 15px;
}