@charset "UTF-8";

body{
    color: #f5f4f4;
    text-align: justify;
    background-image: url(/w3schools/img/img-rept.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.dotted{
    border:dotted #f70303 ;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.dashed{
    border: dashed #3cff00;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.solid{
    border: solid #808080;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.double{
    border: double #ffff00;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.groove{
    border: groove #073be6;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.ridge{
    border: ridge #5f00f7;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.inset{
    border: inset #40e0d0;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.outset{
    border: outset #ffd700;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.none{
    border: none #a52a2a;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}
.hidden{
    border: hidden #0000ff;
    border-width: 1px 2px 3px 4px;
    border-radius: 9px;
    padding: 5px 5px 5px 5px;
    display:block;
    width: fit-content;
}