@charset "UTF-8";

body{
    text-align: justify;
    color: #ffffff;
    background-image: url(/w3schools/img/img-no-rep.png);
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
    margin-right: 50px;
}

.padding-top{
    padding-top: 25px;
    border: 1px solid #4CAF50;
    width: 300px;
    background-color: #add8e613;
}
.padding-right{
    padding-right: 25px;
    border: 1px solid #4CAF50;
    width: 300px;
    background-color: #add8e61e;
}
.padding-bottom{
    padding-bottom: 25px;
    border: 1px solid #4CAF50;
    width: 300px;
    background-color: #add8e61e;
}
.padding-left{
    padding-left: 25px;
    border: 1px solid #4CAF50;
    width: 300px;
    background-color: #add8e61e;    
}
.abreviada{
    padding:25px 50px 75px 100px ;
    border: 1px solid #4CAF50;
    width: 300px;
    background-color: #add8e61e; 
}
.box-size{
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
    background-color: #add8e61e;
    border: 1px solid #4CAF50;
}