@charset "UTF-8";

body{
    text-align: justify;
    color: #000000;
    background-image: url(/w3schools/img/ChatGPT\ .png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: 10px;
}

mark{
    color: #ff0000;
    background-color: #000000;
}
.altlar{
    height: 70px;
    width: 100%;
    border:  3px dotted #00ff4c;
}
.max{
    max-width: 500px;
    padding: 10px;
    background-color: #b0e0e6;
}
.maz{
    width: 500px;
    padding: 10px;
    background-color: #b0e0e6;
}
.max1{
    max-height: 500px;
    padding: 10px;
    background-color: #b0e0e6;
}
.div0{
    background-color: #d3d3d3;
    width: 300px;
    border: 5px dotted #008000;
    padding: 50px;
    margin: 1px;
}
.div1{
    width: 320px;
    height: 50px;
    padding: 10px;
    border: 5px dotted #808080;
    margin: 0;
    background-color: #90db90;
}
.cont{
    border: 2px solid black;
    outline: #4caf50 solid 10px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.dotted{
    outline-color: #008000;
    padding: 5px;
    outline-style: dotted;
}
.dashed{
    outline-color: #008000;
    padding: 5px;
    outline-style: dashed;
}
.solid{
    outline-color: #008000;
    padding: 5px;
    outline-style: solid;
}
.double{
    outline-color: #008000;
    padding: 5px;
    outline-style: double;
}
.groove{
    outline-color: #008000;
    padding: 5px;
    outline-style: groove;
}
.ridge{
    outline-color: #008000;
    padding: 5px;
    outline-style: ridge;
}
.inset{
    outline-color: #008000;
    padding: 5px;
    outline-style: inset;
}
.outset{
    outline-color: #008000;
    padding: 5px;  
    outline-style: outset;   
}
.thin{
    padding: 5px;
    outline-style: solid;
    outline-color: #008000;
    outline-width: thin;
}
.medium{
    padding: 5px;
    outline-style: solid;
    outline-color: #008000;
    outline-width: medium;
}
.thick{
    padding: 5px;
    outline-style: solid;
    outline-color: #008000;
    outline-width: thick;
}
.thickpx{
    padding: 5px;
    outline-style: solid;
    outline-color: #008000;
    outline-width: 8px;
}
.vermelho{
    border: 1px  #000000;
    outline-style: solid;
    outline-color: #ff0000;
    padding: 5px;
}
.azul{
    border: 1px  #000000;
    outline-style: dotted;
    outline-color: #001aff;
    padding: 5px;
}
.verde{
    border: 1px  #000000;
    outline-style: outset;
    outline-color: #15ff00;
    padding: 5px;
}
.invertido{
    border: 1px  #000000;
    outline-style: solid;
    outline-color: invert;
    padding: 5px;
}
.dashed1{
    padding: 5px;
    outline: dashed;
    border-radius: 8px;
}
.dotted1{
    padding: 5px;
    outline: dotted #ff0000;
    border-radius: 5px;
}
.solid1{
    padding: 5px;
    outline: 7px solid #ffff00;
    border-radius: 5px;
}
.thick1{
    padding: 5px;
    outline: thick ridge #ffc0cb;  
    border-radius: 8px;  
}
.outlinerrr{
    padding: 5px;
    outline: thick ridge #008000;
    border-radius: 8px;
}