@charset "UTF-8";

body{
    text-align: justify;
    color: #ffffff;
    background-image: url(/w3schools/img/img-no-rep.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: 50px;
}

img{
    width: 60px;
}

mark{
    background-color: #000000;
    color: #ff0000;
    width: 80px;
    height: 80px;
}