@charset "UTF-8";

body{
    text-align: justify;
    color: #ffffff;
    background-image: url(/w3schools/img/img-rept.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    margin-right: 50px;
}

ul{
    display: inline-block;
}

mark{
    color: #ff0000;
    background-color: #000000;
}
.h2m{
    font-size: 1.7em;
}
h1{
    color: #7fffd4;
}
h2{
    color: #0eb408;
}
h3{
    color: #e41515;
}
h4{
    color: #e5ff00;
}
h5{
    color: #0098fd;
}
h6{
    color: #1900ff;
}
p{
    color: #ff0195;
}

